        <h1>Fill Out this Form</h1>

        <form action="/hello" method="POST">
            A Greeting: <input type="text" name="greeting">
            <br/>
            <input type="Submit">
        </form>