<!DOCTYPE html5>

<html>
    <head>
        <title>Gothons of Planet Percal</title>
    </head>

    <body>

        <p>
        I just wanted to say <em style="color: red; font-size: 2em;"><%= greeting %></em>
        </p>

    </body>
</html>